[MYSQL_CONFIG]
host=localhost
user=root
password=admin
database=stage
port=3306
logging_level=INFO
tables=yo_partner:(unique_key_list=[PARTNER_ID])

[MAIL_CONFIG]
to_mail="shravani@swooptalent.com"
cc_mail="siva@swooptalent.com"

[DIR_FILE_CONFIG]
table_dump_csv_log=table_to_csv.log
csv_storage_dir=table_dump_csv
max_records_csv=500000

status_success=success
status_failure=failure
status_pending=pending




